@use '../util' as *;

ul {
    list-style: none;
    display: flex;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    padding: 1.5rem;
    margin: auto;
}

.info {
    max-width: 40em;
    margin: auto;
}

@media all and (min-width: 960px) {
    
    header {
        padding: 0 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .nav-open-btn,
    .nav-close-btn {
        display: none;
    }

    .desktop-nav ul {
        display: flex;
    }

    .cart {
        top: 58px;
    }

    .profile-img {
        height: 3.125rem;
        width: 3.125rem;
    }

    .container {
        padding: 0;
    }

    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7rem;
        padding: 3rem;
        max-width: 1110px;
        margin: auto;
    }

    .lightbox {
        max-width: 28rem;
    }

    .lightbox-main {
        max-height: 28rem;
    }

    .product-image-main {
        max-height: 28rem;
        border-radius: 16px;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .lightbox-thumbnails {
        display: flex;
    }

    .price-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .add-to-cart-wrapper {
        grid-template-columns: minmax(160px, 1fr) 2fr;
        margin-bottom: 0;
    }

    .overlay {
        display: flex;
    }
} 