@use '../util' as *;

button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem;
    width: 100%;
    color: var(--white);
    background-color: var(--orange);
    transition: all .2s;
}

.button:hover,
.button:focus-visible {
    opacity: .7;
}

.nav-close-btn {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.75rem;
    color: var(--dark-grayish-blue);
}

.cart-btn {
    position: relative;
}

.cart-btn:hover path {
    fill: var(--black);
}

.checkout-btn {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    display: none;
}

.add-to-cart-btn {
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    box-shadow: 0px 5px 30px -10px rgba(255,125,26,0.84);
}

.lightbox-close-btn {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 2rem;
    color: var(--white);
}
