@use '../util' as *;

.cart {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    position: absolute;
    top: 58px;
    right: -16px;
    width: min(360px, 96vw);
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 15px 30px 5px rgba(144, 144, 144, 0.379);
    display: none;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.cart-content > img {
    max-width: 52px;
    border-radius: 4px;
}

.cart-article-title {
    display: block;
    margin-bottom: .5rem;
    color: var(--dark-grayish-blue);
}

.cart-article-title + div > * {
    font-size: 1.125rem;
    margin-right: .35rem;
    color: var(--dark-grayish-blue);
}