@use '../util' as *;

.info {
    max-width: 40em;
    margin: auto;
}

.title {
    font-size: .875rem;
    letter-spacing: 2px;
    color: var(--orange);
    text-transform: uppercase;
}

.info p {
    line-height: 1.5;
    color: var(--dark-grayish-blue);
}