@use '../util' as *;

.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.75);
    display: none;
}

.arrow-left-popup {
    left: -20px;
    top: calc(50% - 80px);
}

.arrow-right-popup {
    right: -20px;
    top: calc(50% - 80px);
}